<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">

                    EWLOGO
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" ng-controller="MenuController">
                    <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->

                    <li class="classic-menu-dropdown" ng-class="{active: menu.selected == true}"
                        ng-repeat="menu in mainMenu" ng-show="menu.hasPermission()">

                        <a href="#" data-toggle="dropdown" ng-click="menu.onClick()">
                            {{menu.title}}
                            <span class="selected"/>
                        </a>

                        <ul class="dropdown-menu pull-left">
                            <li ng-repeat="child in menu.children" ng-show="child.hasPermission()">
                                <a href="#" ng-click="child.onClick()" > {{child.title}} </a>
                            </li>
                        </ul>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">My Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-click="logout()"><a href="#">Log out</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div style="min-height: 100%;">
        <div class="row" ng-controller="MenuController"  style="height: 100%">
            <div ng-show="getSelectedMenuItem().url != null" ng-include="getSelectedMenuItem().url"></div>
            <div ng-show="getSelectedMenuItem().url == null">
                <h1>
                    {{ getSelectedMenuItem().title }} &nbsp; missing URL!
                </h1>
            </div>
        </div>
    </div>


</div>