<div style="padding: 0px 5px 5px;">

    <div ng-if="model.selectedMessage.id">


        <div style=" min-height: 40px" >
        <button class="btn btn-default" style="float: left;"
                ng-click="model.selectedMessage = null">
            <i class="fa fa-arrow-circle-left"></i>
        </button>
        <button class="btn  btn-default" style="float: right;"
                ng-click="open(model.selectedMessage);$event.stopPropagation()">
            <i class="fa fa-envelope-o"></i>
        </button>
        </div>


        <div class="ewframe">
            <h3 class="ewheader">Enquiry</h3>


            <div class="row">

                <label class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10">
                    <p class="form-control-static ">{{model.selectedMessage.name}}</p>
                </div>


                <label class="col-sm-2 control-label">Email</label>

                <div class="col-sm-10">
                    <p class="form-control-static ">{{model.selectedMessage.email}}</p>
                </div>


                <label class="col-sm-2 control-label">Phone No.</label>

                <div class="col-sm-10">
                    <p class="form-control-static">{{model.selectedMessage.phoneNumber}}</p>
                </div>
            </div>
            <textarea class="form-control" ng-model="model.selectedMessage.details" rows="8" readonly></textarea>
        </div>


        <div class="ewframe">
            <h3 class="ewheader">Contact</h3>
            <contact-container text="model.selectedMessage.assignedContact" enquire="1"></contact-container>
        </div>

        <div class="ewframe">
            <h3 class="ewheader">Action</h3>
            <action lead="model.selectedMessage"></action>
        </div>


    </div>

    <div class="ewframe">
        <input class="form-control" placeholder="Search..." ng-model="model.searchText" ng-keyup="filter()">
        <table class="table table-condensed table-hover " ng-if="!model.selectedMessage.id">
            <thead>
            <tr>
                <th ng-click="filterBy('id')" style="cursor: hand">Ref.</th>
                <th ng-click="filterBy('receivedDate')" style="cursor: hand">Date</th>
                <th ng-click="filterBy('name')" style="cursor: hand">Name</th>
                <th ng-click="filterBy('email')" style="cursor: hand">Email</th>
                <th ng-click="filterBy('phoneNumber')" style="cursor: hand">Phone No.</th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr sly-repeat="lead in getLeads()">
                <td>#{{lead.id}}</td>
                <td>{{lead.receivedDate | date:"d/M/yy h:mm a"}}</td>
                <td>{{lead.name | limitTo:25}}</td>
                <td>{{lead.email | limitTo:25}}</td>
                <td>{{lead.phoneNumber | limitTo:25}}</td>
                <td>

                    <button class="btn btn-default pull-right"
                            type="submit" ng-click="model.selectedMessage = lead">
                        <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</div>